/* Declare variables and color scheme */
:root {
  --black: rgb(26, 26, 26);
  --white: rgb(230, 230, 230);
  --lightgray: rgb(190, 190, 190);
  --gray: rgb(150, 150, 150);
  --pink: rgb(255, 0, 115);
}

/* Reset some CSS */
* {
  margin: 0;
  padding: 0;
  color: var(--gray);
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--black);
}

main {
  width: 70%;
  margin: auto;
}

/* Generic Classes and stylings */

.pink {
  color: var(--pink);
}

.white {
  color: var(--white);
}

.lightgray {
  color: var(--lightgray);
}

.gray {
  color: var(--gray);
}

span {
  color: var(--pink);
}

/* Header and Nav */

header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-right: 50px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  display: flex;
  align-items: baseline;
  margin: 0 5px;
}

a {
  transition: 0.5s;
  text-decoration: none;
  background-image: linear-gradient(var(--pink), var(--pink));
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat, no-repeat;
}

nav a {
  padding: 10px 3px 10px;
}

a:hover {
  color: var(--pink);
  background-size: 100% 2px;
}

nav span {
  margin-left: 10px;
  cursor: default;
}

/* Welcome Section */

#welcome-section {
  display: flex;
  align-items: center;
  height: 100vh;
}

.intro-text {
  margin-bottom: 8rem;
}

.intro-p1 {
  font-size: 1.2rem;
}

.intro-text h1 {
  font-size: 4rem;
  margin: 1rem 0;
  line-height: 120%;
}

.intro-bio {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
